<div class="site-branding-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo">
          <h1>
            <a href="./"><img src="assets/img/logo.png" /></a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a routerLink="/add/">Add Article</a></li>
          <li>
            <form class="example">
              <input
                type="text"
                placeholder="Search.."
                name="search"
                [(ngModel)]="srch"
              />
              <button type="submit" (click)="search()">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End mainmenu area -->

<div class="promo-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo1">
          <i class="fa fa-refresh"></i>
          <p>30 Days return</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo2">
          <i class="fa fa-truck"></i>
          <p>Free shipping</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo3">
          <i class="fa fa-lock"></i>
          <p>Secure payments</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo4">
          <i class="fa fa-gift"></i>
          <p>New products</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End promo area -->

<div class="maincontent-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest-product">
          <h2 class="section-title">Latest Products</h2>
          <div class="product-carousel">
            <div class="single-product col-md-3" *ngFor="let item of produit">
              <div class="product-f-image" style="height: 250px; width: 250px">
                <img [src]="item.image" alt="" />
                <div class="product-hover">
                  <a routerLink="/update/{{ item.id }}" class="add-to-cart-link"
                    ><i class="fa fa-shopping-cart"></i> Modify Product</a
                  >
                  <a routerLink="/view/{{ item.id }}" class="view-details-link"
                    ><i class="fa fa-link"></i> See details</a
                  >
                </div>
              </div>
              <h2>
                <a routerLink="/view/{{ item.id }}">{{ item.name }}</a>
                <a
                  href="#"
                  class="add-to-cart-link"
                  (click)="deleteProduct(item)"
                  ><i class="fa fa-trash"></i> Delete</a
                >
              </h2>

              <div class="product-carousel-price">
                <ins>{{ item.price }}DT</ins> <del>$100.00</del>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End main content area -->

<div class="brands-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-wrapper">
          <div class="brand-list">
            <img src="assets/img/brand1.png" alt="" />
            <img src="assets/img/brand2.png" alt="" />
            <img src="assets/img/brand3.png" alt="" />
            <img src="assets/img/brand4.png" alt="" />
            <img src="assets/img/brand5.png" alt="" />
            <img src="assets/img/brand6.png" alt="" />
            <img src="assets/img/brand1.png" alt="" />
            <img src="assets/img/brand2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End brands area -->
